// Variáveis de estilo
$font-family: "Public Sans", sans-serif;

// Cores de Fundo
$bg-default: rgb(29, 27, 34);
$bg-default-text: rgb(255, 255, 255);

$bg-paper: rgb(38, 38, 46);
$bg-paper-text: rgb(255, 255, 255);

// Cores Principais
$primary: #4ECDC4;
$primary-text: #000;

$secondary: #FF6B6B;
$secondary-text: #000;

// Sombras
$shadow-0: rgb(0 0 0 / 12%) 0px 0px 2px 0px, rgb(0 0 0 / 12%) 0px 16px 16px -4px;
