// Variáveis de estilo
$font-family: "Public Sans", sans-serif;

// Cores de Fundo
$bg-default: #242424;
$bg-default-text: #fff;

$bg-paper: #2f2f2f;
$bg-paper-text: #fff;

// Cores Principais
$primary: #4ECDC4;
$primary-text: #000;

$secondary: #FF6B6B;
$secondary-text: #000;

// Bordas
$border-color: #363636;

// Sombras
$shadow-0: rgb(0 0 0 / 12%) 0px 0px 2px 0px, rgb(0 0 0 / 12%) 0px 16px 16px -4px;
