@import "variables";
@import "utils";

// Card do pókemon
:host .pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: none;
  transition: all 0.2s ease-in-out;
}

:host .pokemon-card:hover {
  transform: scale(1.025);
  background-color: tint($bg-paper, 10%);
}

// Imagem do pókemon
:host .pokemon-card img {
  width: 100%;
  max-width: 15rem;
  height: auto;
  pointer-events: none;
}

// ID do pókemon
:host .pokemon-card p {
  font-size: 0.9rem;
  margin: 1rem 0 0.5rem 0;
  opacity: 0.5;
}

// Nome do pókemon
:host .pokemon-card h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}
