<div data-aos="fade-up">
  <card [ngClass]="{'search': true, 'error': searchHasError}">
    <svg-icon
      [src]="type === 'captured' ? 'assets/icons/pokeball-icon.svg' : 'assets/icons/search-icon.svg'"
      [ngClass]="type === 'captured' ? 'pokeball-icon' : 'search-icon'"
    ></svg-icon>

    <input
      type="text"
      [placeholder]="type === 'captured' ? 'Digite o nome do pokémon para capturá-lo...' : 'Digite o nome do pokémon para pesquisá-lo...'"
      [(ngModel)]="search"
      (ngModelChange)="setSearch($event)"
      (keydown)="onSearchInputKeyDown($event)"
    />

    <button
      type="button"
      class="capture-button"
      *ngIf="type === 'captured'"
      [disabled]="isCapturingPokemon || !search || search.trim().length === 0"
      (click)="tryCapturePokemon()"
    >Capturar</button>
  </card>

  <div class="pokemons-list row" #pokemonsList>
    <div class="col col-12 col-md-6 col-lg-3" *ngFor="let pokemon of pokemons">
      <pokemons-list-item
        [pokemon]="pokemon"
        [search]="search"
      ></pokemons-list-item>
    </div>

    <div class="col-12" *ngIf="pokemons.length === 0">
      <card class="empty-card">
        <p [innerText]="type === 'captured' ? 'Ainda não capturou nenhum pokémon.' : 'Nenhum pokémon encontrado.'"></p>
      </card>
    </div>
  </div>
</div>
