@import "variables";

// Raiz da barra de navegação
:host {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 1.1rem 1.5rem;
  background-color: transparent;
  color: $bg-paper-text;
  box-shadow: none;
  backdrop-filter: blur(0px);
  transition: background-color 0.5s ease,
              box-shadow 0.5s ease,
              backdrop-filter 0.5s ease;
  z-index: 1000;
}

:host(.active) {
  background-color: rgba($bg-paper, 0.9);
  box-shadow: $shadow-0;
  backdrop-filter: blur(10px);
}

// Conteúdo da barra de navegação
:host .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// Logo da barra de navegação
:host .logo {
  max-height: 1.75rem;
  margin-right: 0.5rem;
}

// Links da barra de navegação
:host a {
  margin-left: 1.5rem;
  color: $bg-paper-text;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

:host a:hover {
  color: $primary;
}

// Ícones da barra de navegação
:host a svg {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

// Parte direita da barra de navegação
:host .nav-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
