@import "variables";
@import "utils";

@import "scrollbars";
@import "rows";
@import "containers";
@import "toasts";
@import "spinners";

// Estilos principais
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
app-root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: $font-family;
}

// Estilo do corpo da página
body {
  background-color: $bg-default;
  color: $bg-default-text;
}

// Estilos de alguns elementos
hr {
  width: 100%;
  height: 1px;
  max-height: 1px;
  border: none;
  background-color: $border-color;
  margin: 2rem 0;
}

a {
  color: $primary;
}

a:hover {
  color: tint($primary, 20%);
}

.highlight {
  color: $primary !important;
}
